<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="themes.css">
</head>
<body class="dark">
    <header>
        <div class="logodiv">
            <p class="bigtext">Blog 3/11/2022</p>
        </div>
        <div class="aboutus">

        <div class="insideblog">
            <p>
                Its been 2 months since this has been updated 0_0 <br>
                Sorry for the inactivity we've been busy! <br>
                Really busy....<br>
                <br>
                well yall are here for something so we will give you something!<br>
                an update on Coffee Making Simulator+<br>
                <br>
            </p>
            <p class="bigtext">COSTUMES!</p>
            <img src="images/cms1.png" class="gamelogo">
            <img src="images/cms2.png" class="gamelogo">
            <img src="images/cms3.png" class="gamelogo">
            <p>
                Yes costumes!<br>
                We are working on several new outfits for our dear bradly in CMS+!
                Also we made a new file loading system for the game that allows for easier file access!
                This new system also allows for cool things like mods!
            </p>
            <img src="images/Rainbrad.gif" class="gamelogo">
            <p>
                Here is an example modded outfit I have dubbed "Rainbrad".<br>
                As you can see he even has a custom idle animation!<br>
                Mods have a format that is pretty simple.<br>
                Since costume data is stored inside of json files it is easy to modify too!
            </p>
            <img src="images/json.png" class="BIGgamelogo">
            <p>
                welp thats the end of this update!<br>
                There is more to come in the future.
            </p>
        </div>
        </div>
    </header>
    <script src="index.js"></script>
</body>
</html>