<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="themes.css">
</head>
<body class="dark">
    <header>
        <div class="logodiv">
            <p class="bigtext">Blog 25/09/2022</p>
        </div>
        <div class="aboutus">
            <p>Today is the official start of this website! <br>
                Welcome to our website anyway. <br>
                We will post updates and other stuff here!</p>
        </div>
    </header>
    <script src="index.js"></script>
</body>
</html>