.light {
    --bg: #eeeeee;
    --text: #333333;
    --logo: -100%;
    --bottompage: #dddddd;
    --links: #5555ee;
}

.dark {
    --bg: #111111;
    --text: #eeeeee;
    --logo: 100%;
    --bottompage: #000000;
    --links: #5599ee;
}

.aqua {
    --bg: #000211;
    --text: #0099ff;
    --logo: 100%;
    --bottompage: #000102;
    --links: #ffffff;
}