<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Obvious Studios</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="themes.css">
    <link rel="icon" type="image/png" href="images/LogoGlow.png">
</head>
<body class="dark">
    <header>
        <div class="mainbuttons">
            <button onclick="gamesbuttonPress()" class="menubutton">Games</button>
            <button onclick="teambuttonPress()" class="menubutton">Our Team</button>
            <button onclick="blogbuttonPress()" class="menubutton">Blog</button>
            <button onclick="blogarchivebuttonPress()" class="menubutton">Blog Archive</button>
        </div>
    </header>
    <script src="index.js"></script>
</body>
</html>